* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  display: flex;
}
body {
  background: white;
}

section.menu {
  width: 260px;
  font-size: 14px;
  overflow-y: auto;
  height: 100%;
}
section.menu h2 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin: 0.5em 0;
}
section.menu h3 {
  font-weight: 100;
  font-size: 1.25rem;
  margin: 1rem;
  margin-top: 1rem;
}
section.menu a {
  text-decoration: none;
}
section.menu a:hover {
  text-decoration: underline;
}
section.menu ul {
  list-style: none;
  padding-left: 0;
}
section.menu li {
    font-weight: 200;
    text-indent: -0.5rem;
    margin-left: 1rem;
}

section.map {
  width: 100%;
  height: 100%;
}

.apis li {
    opacity: 0.5;
    font-weight: 100;
}
.apis li.stable {
    font-weight: 200;
    opacity: 1.0;
    padding-bottom: 5px;
}

.tippy-content a {
    color: white;
}
.nowrap {
    white-space: nowrap;
}