.array:before {
  content: '[';
}
.array:after {
  content: ']';
}
.kartta {
  height: 100%;
  width: 100%;
}
.map {
  position: relative;
}
.map input {
  font-size: 11px;
}
.layer-switcher {
  max-width: 30%;
  font-size: 0.75em;
  top: 0.5em;
  opacity: 0.75;
}
.layer-switcher .panel label {
  font-family: sans-serif;
  padding-left: 4em;
}
.layer-switcher li input {
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
}
.layer-switcher .group button {
    width: 20px;
    height: 20px;
    background-position: center 0px;
}
.layer-switcher.shown {
  max-height: 80%;
  overflow-y: auto;
}
.layer-switcher[data-loading]:not([data-loading='0']) > button {
    animation: round-and-round 1s linear infinite;
    background-color: transparent;
}
.layer-switcher[data-loading]:not([data-loading='0']) > button:after {
    content: 'loading';
    font-size: 0.8em;
    color: Black;
    font-weight: lighter;
}
@keyframes round-and-round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.ol-overlaycontainer-stopevent {
    z-index: 10 !important; /* to make layer-switcher be on top of listview */
}
.ol-popup {
  position: absolute;
  background-color: white;
  overflow: auto;
}
.ol-mouse-position {
  top: 2.5rem;
  right: 3.5rem;
}
.ol-zoom-out {
  display: block;
}
.ol-rotate {
  top: 17.5em;
  left: 0.5em;
}
.rotate-left {
  top: 19em;
  left: 0.5em;
}
.rotate-right {
  top: 20.5em;
  left: 0.5em;
}

.ol-popup iframe {
  width: 100%;
}

#hovertitle {
  max-width: 30em;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 0.5em;
}
#hovertitle ul {
  padding-left: 0.5em;
}
#hovertitle > * > ul > li > .key {
  font-weight: bold;
}
#hovertitle ul {
  list-style: none;
}

#popup {
  left: 0;
  top: 4em;
  bottom: 0;
  background: white;
  z-index: 10;
  resize: both;
  padding-bottom: 0.5em;
  display: none;
}
#popup:has(#popup-content > *) {
  display: block;
}
#popup-content {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background-color: white;
  height: 100%;
}
#popup-content > * {
  flex: auto;
}

#list {
  min-height: 50%;
  max-height: 50%;
  max-width: 33%;
  right: 0;
  bottom: 0.9em;
  border: 1px solid #cccccc;
  opacity: 0.75;
}
#list:not(:hover):has(.show:not(:checked)) {
  width: 2.2em !important;
}
#list:has(.show:checked) {
  resize: both;
}
#list:has(.show:checked),
#list:hover {
  width: auto;
  max-height: 75%;
}
#list .show {
  position: absolute;
  top: 0;
}
#list:has(.show:checked) .show,
#list:hover .show {
  right: 0;
}
#list input {
  border-width: 0 0 1px 0;
  text-align: center;
}
#list ul {
  padding: 0.25em 0 0.25em 0.5em;
  margin: 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}
#list ul ul {
  border: 1px solid transparent;
}
#list ul ul.selected {
  border-color: #ccc;
  background-color: #f9f9f9;
}
#list ul .array:before,
#list ul .array:after {
  content: '';
}
.list-content > ul {
  padding-top: 0.5em;
}
.list-content > ul > li {
  padding: 0.5em 0;
  font-weight: 200;
}
.list-content > ul > li > .key {
  font-weight: 400;
}
.value {
  margin-left: 20px;
}
.button-container {
  display: flex;
  position: absolute;
  top: 0.5em;
  padding-left: 3em;
  gap: 1em;
  left: 0;
  right: 3.5em;
}
.button-container input[type=text] {
  height: 100%;
}
.app-button {
  position: static;
  white-space: nowrap;
  opacity: 0.75;
}
.app-button:has(#search) {
  flex-grow: 1;
}
.app-button button {
  width: auto;
  padding: 0 0.25em;
  display: inline-block;
  pointer-events: none;
}
.app-button input[type=checkbox] {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 7px;
}

.ol-selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#search {
  width: 100%;
}
.close {
    position: absolute;
    right: 0;
    width: 1em;
    padding: 2px 0;
    text-align: center;
    border-radius: 0 0 0 8px;
    background-color: burlywood;
}